:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Patrick Hand", Arial, Helvetica, sans-serif;
}





body {
    margin: 0px;
    font-family: var(--primary-font);
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}





header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainLogo {
    margin-top: 40px;
    margin-bottom: 40px;
}

#mainLogo img {
    height: 100px;
}

#mainLogo h1 {
    display: inline;
    font-size: 3em;
}

#searchInput {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* I hide this label because I don't want it to display on the page, but I still have it exist so screenreaders can read its text. */
#searchInput label {
    display: none;
}

#searchInput input {
    border-radius: 6px 0px 0px 6px;
    width: 80%;
    height: 40px;
    font-size: 1.3em;
}

#searchInput img {
    height: 44px;
    border: 1px solid black;
    border-radius: 0px 6px 6px 0px;
}

#horizontalLine {
    height: 1px;
    width: 100%;
    background-color: black;
    opacity: .3;
    margin: 25px 0px;
}





.recipe {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
    padding: 22px;
    max-width: 80%;
    margin: 0 auto;
}

.recipe img {
    margin-bottom: 6px;
    width: 100%;
    height: auto;
}

.recipe-info {
    display: flex;
    flex-direction: column;
}

.recipe-tags {
    border: 1px solid black;
    display: inline-block;
    width: fit-content;
    text-align: center;
    font-size: 1.5em;
    padding: 3px 10px
}

.recipe h2 {
    display: inline;
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 2.2em;
}

.rating {
    margin-bottom: 20px;
}

.recipe-description {
    display: none;
}





footer {
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 7px;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.social img {
    height: 60px;
    margin-bottom: 5px;
}





/* This prevents images from becoming larger than the space they have available. */
img {
	max-width: 100%;
}





@media screen and (min-width: 600px) {
    #searchInput input {
        border-radius: 6px 0px 0px 6px;
        width: 80%;
        height: 30px;
        font-size: 1.3em;
    }

    #searchInput img {
        height: 33.5px;
        border: 1px solid black;
        border-radius: 0px 6px 6px 0px;
    }

    #horizontalLine {
        width: 90%;
    }

    .recipe {
        flex-direction: row;
        width: 90%;
    }

    .recipe img {
        width: 40%;
        margin-bottom: 0px;
        margin-right: 20px;
    }

    .recipe-tags {
        font-size: 1.2em;
    }

    .recipe h2 {
        font-size: 1.8em;
    }

    .recipe-description {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .social {
        justify-content: right;
        width: 85%;
        margin-right: 4em;
    }

    .social img {
        height: 35px;
    }

    #citationLink {
        font-size: .7em;
        width: 100%;
        margin-left: 4.5rem;
        margin-top: 15px;
        text-align: left;
    }
}