:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0px;
    background-color: var(--text-light);
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--text-light);
    padding-bottom: 20px;
}

header h1 {
    margin: 0px;
    margin-bottom: 15px;
    font-family: var(--secondary-font);
}

header button {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 1.2em;
    margin-bottom: 10px;
}

nav a {
    font-size: .9em;
    display: block;
    margin-bottom: 10px;
}

a:link, a:visited {
    color: var(--text-light);
}

main h3 {
    color: var(--text-dark);
}

main {
    text-align: center;
}

figure {
    box-shadow: 10px 10px 10px gray;
    border: 7px solid white;
    margin: 20px auto;
}

figure img {
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}

.viewer {
    position: fixed;
    display: grid;
    grid-template-rows: auto, 1fr;
    align-items: center;
    justify-content: center;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--text-light);
    z-index: 10;
}

.viewer button {
    color: var(--text-light);
    background-color: transparent;
    border: none;
    justify-self: end;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.viewer img {
    max-height: 80vh;
    max-width: 90vw;
}

.hide {
    display: none;
}

/* Medium size screen. Default CSS is for small screens. */
@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .viewer img {
        max-height: 90vh;
        max-width: 90vw;
    }
}

/* Large screen */
@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    header button {
        display: none;
    }
    nav a {
        display: inline;
        margin: 0px 50px;
    }
    .viewer {
        top: 25px;
        left: 40px;
        bottom: 20px;
        right: 40px;
    }
    .viewer img {
        max-height: 80vh;
    }
}