:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --accent1-color: #1B1188;
    --accent2-color: #8650C1;
  
    --font: arial, sans-serif;
}

body {
    font-family: var(--font);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}