  body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    margin: 1rem auto;
    max-width: 640px;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}

@media (min-width: 1100px) {
    header {
        background-color: black;
        color: white;
    }

    main {
        grid-template-columns: 2fr 2fr;
    }
}